<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- Fixe un problème de largeur/hauteur !100% quand on met width/height à 100% sur mobile */ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Orgabat{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('modules/game/public/styles/game.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="app"></div>
{% endblock %}
{% block javascripts %}
    <script type="application/javascript" src="{{ asset('js/game.js') }}"></script>
    <script type="application/javascript">
        window.game_id = {{ id }};
        window.assets_path = "{{ asset('modules/game/public/assets/') }}";
    </script>
    <script type="application/javascript" src="{{ asset('modules/game/dist/' ~ id ~ '.js') }}"></script>
{% endblock %}
</body>
</html>
