<footer class="footer">
    <section id="block-views-marques-block-accueil" class="block block-views clearfix">

        <h2 class="block-title">Nos
            <span class="last">partenaires</span>
        </h2>
        <div class="block-content">
            <div class="view view-marques view-id-marques view-display-id-block_accueil view-dom-id-95fd88b330772cfabb103385e3e53a3d">
                <div class="view-content">
                    <div class="views-row views-row-1 views-row-odd views-row-first">

                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/btp_cfa_basse_normandie.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-2 views-row-even">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/carsat.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-3 views-row-odd">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/ccca.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-4 views-row-even">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/europe_sengage.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-5 views-row-odd">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/medecine_travail.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-6 views-row-even">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/oppbtp.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-7 views-row-odd">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/region_basse_normandie.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-8 views-row-even">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/union_europeenne.png') }}"/></div>
                        </div>
                    </div>
                    <div class="views-row views-row-9 views-row-odd">
                        <div class="views-field views-field-field-logo-nb">
                            <div class="field-content"><img typeof="foaf:Image" src="{{ asset('images/logos/universite_caen.png') }}"/></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- /.block -->
<p class="text-center">&copy; {{ 'now' | date('Y') }} Orgabat - Tous droits réservés</p>
</footer>
