<div class="header">
  <a href="/"><h1>ORGABAT</h1></a>
  <div id="wrappHeader">
    <div class="headerIllustration">
      <div class="skyline"></div>
      <div class="illustrationForeground">
        <img src="{{ asset('images/bandeau/rightBackground.svg') }}" class="headerRight">
        <img src="{{ asset('images/bandeau/rightBackground2.svg') }}" class="headerRight">
        <img src="{{ asset('images/bandeau/hoist.svg') }}" class="headerRight hoist">
        <img src="{{ asset('images/bandeau/craneBackground.svg') }}" class="headerLeft">
        <img src="{{ asset('images/bandeau/truckBackground.svg') }}" class="headerCenter">
      </div>
    </div>
  </div>
</div>
