<div class="header">
    <div class="headerIllustration">
        <div class="skyline" style="background: url('../images/bandeau/skyline.svg') repeat-x center bottom; background-size: auto 100%; width: 100%; position: absolute;
         bottom: 0px; left: 0px;"></div>
        <div class="illustrationForeground">
            <!--right animations-->
            <img src="{{ asset('images/bandeau/rightBackground.svg') }}" alt="" class="headerRight">
            <div class="headerRight headerRightContainer">
                <div class="phone2Screen">
                    <div class="phoneCircle"></div>
                </div>
            </div>
            <img src="{{ asset('images/bandeau/rightBackground2.svg') }}" alt="" class="headerRight">
            <div class="headerRight headerRightContainer">
                <div class="phone3Screen">
                    <div class="phoneCircle"></div>
                </div>
            </div>

            <img src="{{ asset('images/bandeau/hoist.svg') }}" alt="" class="headerRight hoist">
            <div class="headerRight headerRightContainer wheelsContainer" style="-webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%);">
                <img src="{{ asset('images/bandeau/hoistWeel.svg') }}" alt="" class="hoistWheel">
                <img src="{{ asset('images/bandeau/hoistWeel.svg') }}" alt="" class="hoistWheel">
                <img src="{{ asset('images/bandeau/hoistWeel.svg') }}" alt="" class="hoistWheel">
                <img src="{{ asset('images/bandeau/hoistWeel.svg') }}" alt="" class="hoistWheel">
                <img src="{{ asset('images/bandeau/hoistWeel.svg') }}" alt="" class="hoistWheel">
            </div>

            <!-- left side animations -->
            <img src="{{ asset('images/bandeau/craneBackground.svg') }}" alt="" class="headerLeft">
            <div class="headerLeft headerLeftContainer">
                <div class="phone1ScreenContainer">
                    <div class="appSquare one"></div>
                    <div class="appSquare two"></div>
                    <div class="appSquare three"></div>
                    <div class="appRect one"></div>
                    <div class="appRect two"></div>
                    <div class="appRect three"></div>
                </div>
                <img src="{{ asset('images/bandeau/video.svg') }}" alt="" class="craneVideo">
                <div class="craneLineContainer">
                    <img src="{{ asset('images/bandeau/craneLine.svg') }}" class="craneLine" alt="">
                </div>
                <img src="{{ asset('images/bandeau/cranelPivot.svg') }}" alt="" class="cranePivot">
            </div>

            <!--center animations-->
            <img src="{{ asset('images/bandeau/truckBackground.svg') }}" alt="" class="headerCenter">
            <div class="headerCenter headerCenterContainer">
                <img src="{{ asset('images/bandeau/pushOne.svg') }}" alt="" class="pushOne">
                <img src="{{ asset('images/bandeau/middleLine.svg') }}" alt="" class="middleLineOne">
            </div>
        </div>
    </div>
</div>