<div id="sidebar-wrapper" class="dash_sidebar">
  <div>
    <a href="{{ path('default_admin_board') }}" id="title">Orgabat</a>
  </div>

  <div class="list-group panel">
    <a class="list-group-item" data-toggle="collapse" href="#add">
      <span><i class="fa fa-plus-circle"></i> Ajout</span>
      <i class="fa fa-arrow-down"></i>
    </a>
    <div class="collapse" id="add">
      <a class="list-group-item" href="{{ path('admin_create_user') }}"><span class="glyphicon glyphicon-user"></span> Compte apprenti</a>
      <a class="list-group-item" href="{{ path('admin_create_trainer') }}"><span class="glyphicon glyphicon-user"></span> Compte formateur</a>
    </div>

    <a class="list-group-item" data-toggle="collapse" href="#import">
      <span><i class="fa fa-arrow-circle-up"></i> Import</span>
      <i class="fa fa-arrow-down"></i>
    </a>
    <div class="collapse" id="import">
      <a class="list-group-item" href="{{ path('admin_create_user') }}"><span class="glyphicon glyphicon-user"></span> Compte apprenti</a>
      <a class="list-group-item" href="{{ path('admin_create_trainer') }}"><span class="glyphicon glyphicon-user"></span> Compte formateur</a>
    </div>

    <a class="list-group-item" data-toggle="collapse" href="#export">
      <span><i class="fa fa-arrow-circle-down"></i> Export</span>
      <i class="fa fa-arrow-down"></i>
    </a>
    <div class="collapse" id="export">
      <a class="list-group-item" href="{{ path('admin_create_user') }}"><span class="glyphicon glyphicon-user"></span> Compte apprenti</a>
      <a class="list-group-item" href="{{ path('admin_create_trainer') }}"><span class="glyphicon glyphicon-user"></span> Compte formateur</a>
    </div>
  </div>

  <div class="list-group panel">
    <a class="list-group-item" href="{{ path('default_editinfos') }}"><span class="glyphicon glyphicon-user"></span> Modifier mes informations</a>
  </div>

  <div class="list-group panel">
    <a class="list-group-item" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</span></a>
  </div>
</div>
