{% extends '::base_dashboard.html.twig' %}

{% block body %}
  <h3 class="text-center">Liste des apprentis par classe</h3>

  {%  for section in sections %}
    {% if section %}
    <div class="section">
      <div class="col-sm-12">
        <h2 class="noselect">
          {{ section.name }}
          <span class="icons">
            <a href="{{ path('admin_edit_section', {'section_id': section.id} ) }}" title="Modifier"><i class="fa fa-pencil"></i></a>
            <a href="{{ path('admin_remove_section', {'section_id': section.id} ) }}" title="Supprimer"><i class="fa fa-trash-o"></i></a>
            <a href="{{ path('admin_export_userBySection', {'section_id': section.id} ) }}" title="Exporter"><i class="fa fa-download"></i></a>
          </span>
        </h2>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h3>Formateurs</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody >
              {% for trainer in section.trainers %}
              <tr>
                <td>{{ trainer.firstName }}</td>
                <td>{{ trainer.lastName }}</td>
                <td>{{ trainer.email}}</td>
                <td>
                  <a class="btn btn-warning" href="{{ path('admin_edit_trainer', {'trainer_id': trainer.id} ) }}"><i class="fa fa-pencil"></i> Modifier</a>
                  <a class="btn btn-danger" href="{{ path('admin_remove_user', {'user_id': trainer.id} ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-12">
          <h3>Apprentis</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody >
              {% for apprentice in section.apprentices %}
              <tr>
                <td>{{ apprentice.firstName }}</td>
                <td>{{ apprentice.lastName }}</td>
                <td>{{ apprentice.email}}</td>
                <td>
                  <a class="btn btn-primary" href="{{ path('admin_view_apprentice', {'apprentice_id': apprentice.id}) }}"><i class="fa fa-eye"></i> Voir le profil</a>
                  <a class="btn btn-warning" href="{{ path('admin_edit_apprentice', {'apprentice_id': apprentice.id} ) }}"><i class="fa fa-pencil"></i> Modifier</a>
                  <a class="btn btn-danger" href="{{ path('admin_remove_user', {'user_id': apprentice.id} ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if trainersWithoutSection %}
    <h2 class="text-center">Formateurs sans classe</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody >
      {% for trainer in trainersWithoutSection %}
        <tr>
          <td>{{ trainer.firstName }}</td>
          <td>{{ trainer.lastName }}</td>
          <td>{{ trainer.email}}</td>
          <td>
            <a class="btn btn-warning" href="{{ path('admin_edit_trainer', {'trainer_id': trainer.id} ) }}"><i class="fa fa-pencil"></i> Modifier</a>
            <a class="btn btn-danger" href="{{ path('admin_remove_user', {'user_id': trainer.id} ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% if apprenticesWithoutSection %}
    <h2 class="text-center">Apprentis sans classe</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody >
      {% for apprentice in apprenticesWithoutSection %}
        <tr>
          <td>{{ apprentice.firstName }}</td>
          <td>{{ apprentice.lastName }}</td>
          <td>{{ apprentice.email}}</td>
          <td>
            <a class="btn btn-primary" href="{{ path('admin_view_apprentice', {'apprentice_id': apprentice.id}) }}"><i class="fa fa-eye"></i> Voir le profil</a>
            <a class="btn btn-warning" href="{{ path('admin_edit_apprentice', {'apprentice_id': apprentice.id} ) }}"><i class="fa fa-pencil"></i> Modifier</a>
            <a class="btn btn-danger" href="{{ path('admin_remove_user', {'user_id': apprentice.id} ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
