{% extends '::base_dashboard.html.twig' %}

{% block body %}
    <h3 class="text-center">Mettre à jour mes informations</h3>

    {{  form_start(form) }}
    <div class="col-sm-12">{{ form_row(form.firstName) }}</div>
    <div class="col-sm-12">{{ form_row(form.lastName) }}</div>
    <div class="col-sm-12">{{ form_row(form.email) }}</div>
    <div class="col-sm-12">
        {% for pwd in form.plainPassword %}
           {{ form_row(pwd) }}
        {% endfor %}
    </div>

    <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn-primary center-block'}} ) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
