{% extends '::base_dashboard.html.twig' %}

{% block body %}
  <h3 class="text-center">Liste des apprentis par classe</h3>

  {% for section in sections %}
    {% if section %}
    <div class="section">
      <div class="col-sm-12">
        <h2 class="noselect">{{ section.name }}</h2>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Adresse email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody >
            {% for apprentice in section.apprentices %}
            <tr>
              <td>{{ apprentice.firstName }}</td>
              <td>{{ apprentice.lastName }}</td>
              <td>{{ apprentice.email}}</td>
              <td>
                <a class="btn btn-primary" href="{{ path('admin_view_apprentice', {'apprentice_id': apprentice.id}) }}"><i class="fa fa-eye"></i> Voir le profil</a>
                <a class="btn btn-warning" href="{{ path('admin_edit_apprentice', {'apprentice_id': apprentice.id} ) }}"><i class="fa fa-pencil"></i> Modifier</a>
                <a class="btn btn-danger" href="{{ path('admin_remove_user', {'user_id': apprentice.id} ) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}
