{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h1 class="text-center">Réinitialiser le mot de passe</h1>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" class="form-control" name="username" required="required" />
    </div>
    <div>
        <a href="{{ path('default_rules') }}"><button class="btn btn-default" type="button"><i class="fa fa-chevron-left"></i> Annuler</button></a>
        <input type="submit" class="btn btn-success" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
{% endblock %}
