<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        Orgabat
    </title>
    <style>
        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        h1, h2, h3 {
            text-align: center;
        }
        .user-info {
            border: 1px solid black;
            padding: 12px;
            text-align: center;
            margin-top: 20px;
        }
        .user-info p {
            margin: 5px 0;
            padding: 0;
        }
        .user-info .name, .user-info .section .sectionName{
            font-weight: bold;
            font-size: 16px;
        }
        .titlePdf {
            padding: 15px;
        }
        .table-stats {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            border: 1px solid #c8c8c8;
            margin-left: 100px;
        }
        .table-stats th{
            font-weight: 500;
            text-align: center;
        }
        .table-stats tr th:first-child, .table-stats tr td:first-child, .table-stats tr:last-child td {
            font-weight: bold;
        }
        .table-stats>tbody>tr>td, .table-stats>tbody>tr>th, .table-stats>tfoot>tr>td, .table-stats>tfoot>tr>th, .table-stats>thead>tr>td, .table-stats>thead>tr>th {
            padding: 12px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="">Orgabat</h1>
    <h2 class="">Résultats des jeux</h2>
    {# User informations #}
    <div class="user-info">
        <p class="name">{{ user.lastName|upper }} {{ user.firstName }}</p>
        {% if user.roles[0] == "ROLE_APPRENTICE" %}
            <p class="birth">Né le : {{ user.formattedBirthDate|date("d/m/Y") }}</p>
            {% if user.section %}
                <p class="section">Inscrit en <span class="sectionName">{{ user.section.name }}</span></p>
            {% endif %}
        {% endif %}
    </div>

    {# If an apprentice didnt played #}
    {% if categories is empty %}
        <h3>Pas de données de jeu enregistrées.</h3>
    {% else %}
        {# Iterate all categories played by an apprentice #}
        {% for category in categories  %}
            <h3 class=" titlePdf">{{ category.name }}</h3>
            <table class="table-stats">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Temps ( en secondes )</th>
                    <th>Santé</th>
                    <th>Organisation</th>
                    <th>Notoriété de l'entreprise</th>
                </tr>
                </thead>
                <tbody >
                {% for exercise in category.exercises|sort %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>{{ exercise.bestExerciseHistory.timer }}</td>
                        <td>{{ exercise.bestExerciseHistory.healthNote }} / {{ exercise.healthMaxNote }}</td>
                        <td>{{ exercise.bestExerciseHistory.organizationNote }} / {{ exercise.organizationMaxNote }}</td>
                        <td>{{ exercise.bestExerciseHistory.businessNotorietyNote }} / {{ exercise.businessNotorietyMaxNote }}</td>
                    </tr>
                {% endfor %}

                {# Total stats for a category #}
                <tr>
                    <td>Total</td>
                    <td>{{ category.dataFromAllBestExercises.timer }}</td>
                    <td>{{ category.dataFromAllBestExercises.healthNote }} / {{ category.maxResults.healthMaxNote }}</td>
                    <td>{{ category.dataFromAllBestExercises.organizationNote }} / {{ category.maxResults.organizationMaxNote }}</td>
                    <td>{{ category.dataFromAllBestExercises.businessNotorietyNote }} / {{ category.maxResults.businessNotorietyMaxNote }}</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>


