{% extends 'OrgabatGameBundle::base_listejeux.html.twig' %}
{% block body %}
    <h1>{{ category.name }}</h1>

    <div>
        <div>Résumé :</div>
        <div>
            <div>Ligne 1</div>
            <div>Ligne 2</div>
            <div>Ligne 3</div>
        </div>
    </div>

    {% for exercise in exercises %}
        {% set totalDoneNote = null %}
        {% set totalExerciseNote = exercise.healthMaxNote + exercise.organizationMaxNote + exercise.businessNotorietyMaxNote %}
        
        {% if dones[exercise.id]is defined %}
            {% set totalDoneNote = dones[exercise.id].healthNote + dones[exercise.id].organizationNote + dones[exercise.id].businessNotorietyNote %}
        {% endif %}

        <div class="game {{ totalDoneNote >= 6.5 ? 'disabled' : '' }}" data-game-id="{{ exercise.id }}">
            <h2 id="game_label">{{ exercise.name }}</h2>
            <h4>
                {% if totalDoneNote >= 6.5 %}
                    Jeu terminé
                {% elseif totalDoneNote < 6.5 and totalDoneNote != null %}
                    Meilleur score: {{ totalDoneNote }} / {{ totalExerciseNote }}
                {% else %}
                    Essaie-le !
                {% endif %}
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div>
                {% if dones[exercise.id]is defined %}
                    <div>
                        {{ dones[exercise.id].healthNote }}
                        /
                        {{ exercise.healthMaxNote }}
                    </div>
                    <div>
                        {{ dones[exercise.id].organizationNote }}
                        /
                        {{ exercise.organizationMaxNote }}
                    </div>
                    <div>
                        {{ dones[exercise.id].businessNotorietyNote }}
                        /
                        {{ exercise.businessNotorietyMaxNote }}
                    </div>
                {% else %}
                    <div>{{ exercise.healthMaxNote }}</div>
                    <div>{{ exercise.organizationMaxNote }}</div>
                    <div>{{ exercise.businessNotorietyMaxNote }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <button id="return">Retourner aux modules</button>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/exercices.js') }}"></script>
{% endblock %}
