{% extends 'OrgabatGameBundle::base_listejeux.html.twig' %}
{% block body %}
    <div class="col-sm-9">
        <h1>{{ category.name }}</h1>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Résumé :</p>
                <div class="progress health">
                    <div class="progress-bar progress-bar-success" style="width:
                      {{ (stats['user']['healthNote'] / stats['global']['healthNote'])*100 }}%"></div>
                    <span class="stat">{{ stats['user']['healthNote'] }} / {{ stats['global']['healthNote'] }}</span>
                </div>
                <div class="progress organization">
                    <div class="progress-bar progress-bar-info" style="width:
                      {{ (stats['user']['organizationNote'] / stats['global']['organizationNote'])*100 }}%"></div>
                    <span class="stat">{{ stats['user']['organizationNote'] }} / {{ stats['global']['organizationNote'] }}</span>
                </div>
                <div class="progress notoriety">
                    <div class="progress-bar progress-bar-warning" style="width:
                      {{ (stats['user']['businessNotorietyNote'] / stats['global']['businessNotorietyNote'])*100 }}%"></div>
                    <span class="stat">{{ stats['user']['businessNotorietyNote'] }} / {{ stats['global']['businessNotorietyNote'] }}</span>
                </div>
            </div>
        </div>
    </div>

    {% for exercise in exercises %}
        {% set totalDoneNote = null %}
        {% set totalExerciseNote = exercise.healthMaxNote + exercise.organizationMaxNote + exercise.businessNotorietyMaxNote %}

        {% if dones[exercise.id]is defined %}
            {% set totalDoneNote = dones[exercise.id].healthNote + dones[exercise.id].organizationNote + dones[exercise.id].businessNotorietyNote %}
        {% endif %}
        <div class="col-sm-4 game noselect {{ totalDoneNote >= 6.5 ? 'disabled' : '' }}" data-game-id="{{ exercise.id }}">
          <div class="content">
            <div class="panel-heading">
                <h2 id="game_label">{{ exercise.name }}</h2>
            </div>
            <div class="panel-body">
                <h4>
                    {% if totalDoneNote >= 6.5 %}
                        Jeu terminé
                    {% elseif totalDoneNote < 6.5 and totalDoneNote != null %}
                        Meilleur score: {{ totalDoneNote }} / {{ totalExerciseNote }}
                    {% else %}
                        Essaie-le !
                    {% endif %}
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
                  {% if dones[exercise.id]is defined %}
                  <div>
                    {{ dones[exercise.id].healthNote }}
                    /
                    {{ exercise.healthMaxNote }}
                  </div>
                  <div>
                    {{ dones[exercise.id].organizationNote }}
                    /
                    {{ exercise.organizationMaxNote }}
                  </div>
                  <div>
                    {{ dones[exercise.id].businessNotorietyNote }}
                    /
                    {{ exercise.businessNotorietyMaxNote }}
                  </div>
                  {% else %}
                  <div>{{ exercise.healthMaxNote }}</div>
                  <div>{{ exercise.organizationMaxNote }}</div>
                  <div>{{ exercise.businessNotorietyMaxNote }}</div>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
    {% endfor %}

    <a href="{{ path('default_category') }}" class="col-sm-12 btn btn-success" role="button" id="return">Retourner aux modules</a>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/exercices.js') }}"></script>
{% endblock %}
