{% extends 'OrgabatGameBundle::base_listejeux.html.twig' %}
{% block body %}
    <h1>{{ category.name }}</h1>

    <div>
        <div>Résumé :</div>
        <div>
            <div>Ligne 1</div>
            <div>Ligne 2</div>
            <div>Ligne 3</div>
        </div>
    </div>

    {% for exercise in exercises %}
        <div class="game {{ dones[exercise.id] is defined ? 'disabled' : '' }}" data-game-id="{{ exercise.id }}">
            <h2 id="game_label">{{ exercise.name }}</h2>
            <h4>
                {% if dones[exercise.id]is defined %}
                    Jeu terminé
                {% else %}
                    Essaie-le !
                {% endif %}
            </h4>
            <p>pitchpitchpitch</p>
            <div>
                {% if dones[exercise.id]is defined %}
                    <div>
                        {{ dones[exercise.id].healthNote }}
                        /
                        {{ exercise.healthMaxNote }}
                    </div>
                    <div>
                        {{ dones[exercise.id].organizationNote }}
                        /
                        {{ exercise.organizationMaxNote }}
                    </div>
                    <div>
                        {{ dones[exercise.id].businessNotorietyNote }}
                        /
                        {{ exercise.businessNotorietyMaxNote }}
                    </div>
                {% else %}
                    <div>{{ exercise.healthMaxNote }}</div>
                    <div>{{ exercise.organizationMaxNote }}</div>
                    <div>{{ exercise.businessNotorietyMaxNote }}</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <button id="return">Retourner aux modules</button>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/exercices.js') }}"></script>
{% endblock %}
